<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userService" class="com.test.service.impl.UserServiceImpl">
        <!-- name代表setUserDao方法中属性名userDao    ref是指xml中id的是userDao的bean    -->
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="userDao" class="com.test.dao.impl.UserDaoImpl"/>
</beans>